body {
    font-family: sans-serif;
    margin: 0;
}

#headerWrapper {
    z-index: 1;
    position: fixed;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #f5f6f7;
    padding: 20px 0;
    align-items: center;
    margin: auto;
    background-color: #fff;
}

#insta {
    display: flex;
    align-items: center;
}

#instagramIcon {
    padding-right: 20px;
}

#instagram {
    padding-left: 20px;
    border-left: 1px solid #000;
}

#search {
    display: flex;
    align-items: center;
}

.headerIcon {
    padding: 0 20px;
}

#post {
    margin-top: 50px;
    border: 1px solid #f5f6f7;
    width: 637px;
}

#iconAndName {
    display: flex;
    align-items: center;
    margin: 13px 10px;
}

.icon {
    border-radius: 50%;
}

.like-and-comm {
    padding: 10px;
}

.noOfLikes {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.comment {
    padding: 10px;
}

.bold {
    font-weight: bold;
}

#mainContainer {
    display: flex;
    margin: auto;
    width: 900px;
    padding-top: 75px;
}

#stories {
    display: flex;
    flex-direction: column;
    border: 1px solid #f5f6f7;
}

#storiesUp {
    display: flex;
    justify-content: space-between;
}

#storiesMain {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#side {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 280px;
    height: 250px;
    position: fixed;
    z-index: 1;
    right: 13%;
    margin-top: 40px;
}

#mainIconAndName {
    display: flex;
    align-items: center;
    margin: 13px 10px;
}

#storyIconAndName {
    display: flex;
    align-items: center;
    margin: 13px 10px;
}